.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
}